.bg-filter {
  border-radius: 10px;
  box-shadow: 0 8px 30px 0 rgba(165, 189, 213, 0.2);

  background-color: rgb(255, 255, 255);

  width: 70%;
  height: 120px;

  display: flex;
  flex-direction: column;
}
.line {
  width: 100%;
  height: 1px;
  margin: 10px 0 10px;
  background-color: #ededed;
}
.filter {
  height: 60px;
  display: flex;
  flex-direction: row;
}
.filter-item {
  flex: 1;
  height: 60px;
  padding: 15px;
}
.filter-title {
  padding: 0;
  margin: 0;
}
/* path{
  display: none;
} */
.css-rbhb3b-MuiInputBase-root-MuiInput-root-MuiSelect-root:before{
border-bottom: "none" ;
}
.MuiList-root{
  height: 100px;
}
.button-search{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 20px;

}
.MuiButton-textPrimary{
color: #000;
}